<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments.html :: headerfiles">
    </head>
    <body>
        <div class="wrapper">
            <header th:insert="fragments.html :: nav">


            </header>
            <!-- Page content goes here-->
            <!--<div class="container">
                <p>Admin index </p>
            </div>-->
            <!-- Page content goes here -->
            <!--<div class="container">
                <div class="jumbotron">
                    <h1 class="display-4">TEMPLATES - INDEX.HTML</h1>
                    <p class="lead">This is the home page of our web application. Anyone can access it, even if they have not signed in.</p>
                    <hr class="my-4">
                    <p>Using this example, you will become more familiar with Spring Security concepts:)</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="https://spring.io/projects/spring-security" role="button">Learn more about Spring Security</a>
                    </p>
                </div>
            </div>-->
            <section>

                <div id="in_content">
                    <!--
                    <table border="1" cellpadding="10">
                        <tbody>
                            <tr th:each="tempVideos : ${videos}">
                                <td>
                                    <img class="pic"><hr>
                                    <a th:value="@{tempVideos.link}" th:href="${tempVideos.link}" th:text="${tempVideos.title}"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
-->
                    <div th:each="tempVideos : ${videos}" >
                        <a th:value="@{tempVideos.link}" th:href="${tempVideos.link}" th:text="${tempVideos.pictureLink}"></a>
                    </div> 
                </div>

            </section>
            <footer>
                Portal.com NE VRŠI stream videa ili hostuje video snimke, Filmove koje gosti gledaju kod nas na sajtu su hostovani na sajtovima kao što su Openload, Vidbul, bestreams, Vidzi, TheVideo, Streamin itd.
                Svi video zapisi koji se nalaze na tim sajtovima su verovatno odobreni od strane vlasnika istih.
                Portal.com nije odgovorna za sadrzaj drugih sajtova.<br/>
                Portal.com is not responsible for the availability of such third party web sites. The content of such third party web sites is beyond our control. We neither endorse, 
                make any representations nor accept any liability (whether direct or indirect) for such third party web sites or their content, products or services offered at those web sites, or by their sponsoring companies.

            </footer>
        </div>
    </body>
</html>